:root {
	--primary-100: #c0bbff;
	--primary-200: #8076f4;
	--primary-300: #5849ff;
	--primary-400: #3f2fed;
	--primary-500: #2317ae;
	--primary-600: #1c128b;
	--primary-700: #150e68;
	--primary-800: #0e0946;
	--primary-900: #070523;

	--secondary-100: #fff7ce;
	--secondary-200: #fff1a8;
	--secondary-300: #ffea7a;
	--secondary-400: #ffe24a;
	--secondary-500: #ffd600;
	--secondary-600: #b88f00;
	--secondary-700: #785e00;
	--secondary-800: #422f00;
	--secondary-900: #251b01;

	--tertiary-100: #f3cdef;
	--tertiary-200: #e69bdf;
	--tertiary-300: #da6ace;
	--tertiary-400: #cd38be;
	--tertiary-500: #c106ae;
	--tertiary-600: #9a058b;
	--tertiary-700: #740468;
	--tertiary-800: #4d0246;
	--tertiary-900: #270123;

	--white: #f9f9ff;
	--grey-100: #dcd8f0;
	--grey-200: #b8b8ce;
	--grey-300: #89899d;
	--grey-400: #6d6d81;
	--grey-500: #4f4f61;
	--grey-600: #3d3d4a;
	--grey-700: #2c2c36;
	--grey-800: #202024;
	--grey-900: #18191d;
	--black: #0e0e0f;

	--size-1: calc(48px + 0.6vw);
	--size-2: calc(36px + 0.6vw);
	--size-3: calc(30px + 0.6vw);
	--size-4: calc(24px + 0.6vw);
	--size-5: calc(20px + 0.6vw);
	--size-6: calc(18px + 0.6vw);
	--size-7: calc(16px + 0.6vw);
	--size-8: calc(14px + 0.6vw);
	--size-9: calc(12px + 0.6vw);
	--size-10: calc(11px + 0.6vw);

	--min-width: 700px;
	--gutter-size-nav: 50px;
	--gutter-size-other: 70px;
}

* {
	box-sizing: border-box;
}

html,
body {
	/* position: absolute; */
	/* width: 100%; */
	/* height: 100%; */
	display: inline-block;
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: baseline;
	background: transparent;
}

body {
	margin: 0;
	padding: 0;
	min-height: 100%;
	min-width: 100%;
	height: 100%;
	width: 100%;
	display: inline-block;
}
h1 {
	font-size: var(--size-3);
}

h2 {
	font-size: var(--size-4);
}

h3 {
	font-size: var(--size-5);
}

p,
a,
span {
	font-size: var(--size-7);
}

label {
	font-size: var(--size-8);
}

button {
	padding: 3%;
	font-size: var(--size-7);
	font-weight: bold;
	border: none;
	color: var(--white);
	background-color: var(--primary-500);
	border-radius: 5px;
}

input {
	min-width: 0;
	padding: 1% 3%;
	border-radius: 5px;
	font-size: var(--size-8);
	background-color: transparent;
	border: 1px solid var(--black);
}

input[type='checkbox'],
input[type='radio'] {
	appearance: none;
	-webkit-appearance: none;
	border: 1px solid var(--black);
	padding: 6px;
	border-radius: 3px;
}

input:checked {
	background-color: var(--black);
}

svg {
	width: 100%;
	height: 100%;
}

img {
	height: 20px;
	width: auto;
}

[contenteditable='true']:focus {
	outline: 1px solid var(--grey-400);
}

input:focus {
	outline: 1px solid var(--grey-400);
}

#container {
	width: 100%;
	min-height: 100vh;
	color: var(--black);
	background-color: var(--white);
}
